:root {
  --primary-color: rgb(230 47 67);
  --text-dark-color: #313133;
  --text-moderate-color: rgb(75 75 76);
  --text-light-color: #9facc7;
}
.btn-primary {
  color: var(--primary-color);
  padding: 15px 50px;
  border-radius: 5px;
  background-color: white;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  border: 3px solid var(--primary-color);
}
/* .btn-secondary {
  color: white;
  padding: 15px 30px;
  border-radius: 10px;
  background-color: #f13a4f32;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  border: 2px solid white;
} */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
