@media only screen and (max-width: 1200px) {
  .hero-image {
    display: none;
  }
}
@media only screen and (max-width: 1100px) {
  .hero-container {
    width: 76%;
  }
  main {
    height: 850px;
  }
  .experience {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 1100px) {
  div.two-customers {
    padding-top: 50px;
  }
}
@media only screen and (max-width: 900px) {
  div.two-customers {
    flex-direction: column;
  }
  main {
    height: 1050px;
  }
  div.border {
    top: 52%;
  }
  .experienceUl {
    flex-direction: column;
    margin-top: 50px;
  }

  section.experts {
    flex-direction: column;
    margin-top: 50px;
  }
  .proin h3 {
    width: 69%;
  }
  ul.three-flex {
    flex-direction: column;
    align-items: center;
  }
  ul.three-flex li {
    width: 90%;
  }
  div.account-flex {
    flex-direction: column;
    gap: 90px;
  }
  section.accountants {
    height: 769px;
  }
  .footer-flex {
    flex-direction: column;
  }
  .footer-middle p,
  .footer-right p {
    line-height: 20px;
  }
  .navbar {
    display: none;
  }
  .hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .proin h3 {
    font-size: 35px;
  }
}
@media only screen and (max-width: 760px) {
  div.hero h2 {
    font-size: 40px;
  }
  .border {
    display: none;
  }
  main {
    height: 950px;
  }
  div.two-customers {
    padding-right: 1px;
  }
  footer {
    height: auto;
  }
  .footer-content h3 {
    font-size: 26px;
  }
  .footer-right {
    width: 50%;
  }
  .footer-content h4 {
    font-size: 19px;
  }
  div.accountant-description {
    width: 90%;
  }
  .footer-flex {
    margin-top: 80px;
  }
  div.footer {
    margin-top: 80px;
  }

  div.container1 {
    padding-left: 50px;
  }
  .flex-four ul {
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 20px;
    height: 600px;
  }
  .flex-four li:first-child {
    width: 80%;
    margin-top: 40px;
  }
  ul.three-flex {
    align-items: center;
  }
  .experts img {
    width: 100%;
  }
  .experience-description h3 {
    font-size: 30px;
    line-height: 55px;
  }
  .footer-left,
  .footer-middle,
  .footer-right {
    width: 100%;
  }
}
/* aboutus */
@media only screen and (max-width: 850px) {
  .aboutus {
    width: 100%;
  }
  .about-second {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about-second-left,
  .about-second-right {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .experts img {
    width: 100%;
  }
  div.image-container1,
  div.image-container2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  div.image-content {
    width: 100%;
  }
  div.image2,
  div.image1 {
    width: 100%;
  }
  section.our-values {
    height: auto;
    padding-bottom: 50px;
  }
  div.our-values-container ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .aboutus::after {
    width: 0;
  }
  .about-flex h3 {
    width: 100%;
  }
}
/* services */
@media only screen and (max-width: 850px) {
  .aboutus2 {
    width: 100%;
  }
  .aboutus2::after {
    width: 0%;
  }
  .service-second {
    padding: 55px 20px 50px 20px;
  }
  .service-second h3 {
    width: 100%;
  }
  ul.service-second-content li {
    width: 100%;
  }
  ul.service-second-content {
    margin: 30px;
  }
  .service-third-content {
    padding: 50px;
  }
  ul.service-second-content {
    gap: 40px;
  }
  .service-wrapper1 {
    padding: 20px;
  }
  .service-position {
    position: static;
  }
  .service-image img {
    top: -20px;
  }
  div.business p {
    width: 100%;
  }
  .service-wrapper2 {
    padding: 20px;
  }
  .services-fourth {
    height: 500px;
    background-position: center;
  }
  section.experts1 {
    flex-direction: column;
  }
  .experts1 img {
    width: 100%;
  }
}
