@import url("base.css");

* {
  margin: 0;
  padding: 0;

  color: #343434;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px 20px 0px;
  position: relative;
}
div.logo img {
  width: 120px;
  height: 60px;
}
div.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
div.logo p {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  margin-left: -20px;
}
div.logo span {
  color: var(--primary-color);
}
div.logo span {
  display: block;
}
nav.navbar ul a {
  color: var(--text-moderate-color);
  font-size: 18px;
  font-weight: 300;
}
.navbar a.active {
  color: var(--primary-color);
  position: relative;
}
.navbar a.active::before {
  content: "";
  background-image: url(./assets/accountan4-contact-icon1.svg);
  background-repeat: no-repeat;
  top: -163%;
  position: absolute;
  left: 13%;
  width: 50px;
  height: 50px;
}

main {
  height: 941px;
  position: relative;
  background: url("./assets/accountan4-section-bg1.png");
  background-size: contain, contain;
  /* background-position: 100% 99px; */
  background-repeat: no-repeat;
  background-color: var(--primary-color);
  position: relative;
  z-index: 5;
}
.two-customers img {
  width: 200px;
}
div.hero {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: 25px;
  padding: 100px 0 20px 0;
}
div.hero h4 {
  color: white;
  font-size: 20px;
}
div.hero h2 {
  font-size: 59px;
  width: 106%;
  color: white;
}
div.hero h2 span {
  color: black;
}
div.border {
  border-top: 0.5px solid rgb(212, 209, 209);
  position: relative;
  top: 48%;
  left: 0;
}
div.right-arrow {
  background-color: black;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.two-customers {
  gap: 30px;
  display: flex;
  padding-top: 180px;
  /* margin-left: 78px; */
  padding-right: 83px;
  padding-top: 136px;
}
div.container1 {
  width: 100%;
  /* margin: 0px 50px; */
  padding: 0px 0 0 160px;
  box-sizing: border-box;
}
div.first-customer,
div.second-customer {
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  font-weight: 500;
  font-size: 18px;
  border-radius: 10px;
  padding-right: 70px;
}
div.home-wrapper {
  display: flex;
}
.hero-container {
  width: 50%;
}
div.hero-image {
  width: 50%;
  height: 100%;
  position: relative;
  z-index: 100;
}
div.hero-image img {
  width: 100%;
  height: 100%;
  margin-top: 34px;
}
div.two-customers p {
  width: 40%;
}
div.second-customer {
  position: relative;
  z-index: 1;
}
.experience {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.experience-icon {
  width: 70px;
  height: 70px;
}
.experience-description {
  display: flex;
  justify-content: space-between;
}
.experienceUl {
  display: flex;
  margin-top: 100px;
  margin-left: 60px;
}
.experiencUl li {
  display: flex;
  flex-direction: column;
}
.experienceUl li img {
  width: 50px;
}
.experience li span {
  display: block;
  font-size: 23px;
  font-weight: 700;
}
.experience li p {
  width: 70%;
  color: var(--text-light-color);
  margin-top: 20px;
}
.experience-description h3 {
  font-size: 45px;
  font-weight: 600;
}
.experience-description em {
  display: block;
  margin-top: -15px;
  font-style: normal;

  color: var(--primary-color);
}
section.experts {
  display: flex;
  margin-top: 150px;
  gap: 50px;
  margin-bottom: 130px;
}
.experts img {
  width: 50%;
}
.expert-description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.expert-description h4 {
  margin-top: 20px;
  font-size: 28px;
}
.expert-description h4 span {
  color: var(--primary-color);
}
.expert-description p {
  line-height: 25px;
  width: 90%;
  color: var(--text-light-color);
}
.expert-description button.read-more {
  width: max-content;
  margin-top: 40px;
  font-size: 15px;
  font-weight: 600;
}
section.ullamcorper {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/accountan4-about-bg.webp");
  width: 100%;
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 80px;
}

.flex-four ul {
  display: flex;

  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
  padding-top: 100px;
  align-content: flex-start;
  flex-wrap: wrap;
}
.flex-four li {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 260px;
  align-items: center;
  border: 1px solid white;
  border-radius: 0 10px 10px 10px;
  justify-content: center;
}
.flex-four h3 {
  font-size: 40px;
}
.flex-four span {
  color: var(--primary-color);
  font-size: 40px;
  font-weight: bold;
}
.flex-four h4 {
  font-size: 40px;
  color: white;
  font-weight: 700;
}
.flex-four li p {
  font-size: 26px;
  color: white;
}
.flex-four li:first-child {
  background-color: white;
}
/* proin section */
.proin {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 100px;
}
.proin h3 {
  font-size: 50px;
  width: 45%;
  line-height: 60px;
  font-weight: 500;
}
.proin h3 span {
  color: var(--primary-color);
}
ul.three-flex {
  display: flex;
  gap: 50px;
}
ul.three-flex li {
  width: 33%;
}
ul.three-flex img {
  width: 100%;
}
div.proin-top {
  display: flex;
  justify-content: space-between;
}
ul.three-flex p:first-of-type {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}
ul.three-flex p:last-of-type {
  color: var(--text-light-color);
  font-size: 15px;
}
section.accountants {
  height: 700px;
  background: url("./assets/accountan4-section-bg2.webp");
  background-color: var(--primary-color);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0%;
}
div.account-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}
div.accountant-description {
  width: 45%;
}
div.accountant-pic {
  display: flex;
  width: 65%;
  flex-direction: row-reverse;
  gap: 50px;
}
div.accountant-pic img {
  width: 50%;
}
.accountant-description {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.accountant-description h3 {
  color: white;
  font-size: 45px;
  font-weight: 600;
  line-height: 50px;
}
.accountant-description p {
  width: 80%;
  color: white;
}
button.about-us {
  width: max-content;
  color: white;
  background-color: transparent;
  border: 2px solid white;
}
footer {
  background-color: rgb(237 242 244);
  height: 900px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-left img {
  width: 100px;
}
.footer-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.footer-content h3 {
  font-size: 36px;
  font-weight: 600;
}
.footer-content h4 {
  font-size: 22px;
  text-align: center;
}
.footer-content h4 span {
  color: var(--primary-color);
}
button.consultation {
  width: max-content;
  background-color: transparent;
  font-size: 16px;
  transition: all 0.1s ease-in;
}
.btn-primary:hover {
  color: white;
  background-color: var(--primary-color);
}
.footer-content p {
  color: var(--text-light-color);
  margin-top: -10px;
}
.footer-flex {
  display: flex;
  margin-top: 180px;
  gap: 40px;
}
.footer-left {
  width: 50%;
}
.footer-left-content {
  display: flex;
}
.footer-left-content h3 {
  text-transform: uppercase;
  line-height: 25px;
  margin-left: -15px;
}
.footer-left-content span {
  color: var(--primary-color);
  display: block;
}
.footer-left-content img {
  margin-left: -20px;
}
.footer-flex p {
  font-size: 15px;
  color: var(--text-light-color);
  margin-top: 20px;
  font-weight: 500;
}
.footer-middle {
  flex-direction: column;
  width: 20%;
  display: flex;
}
.footer-middle h5 {
  font-size: 23px;
  margin-bottom: 16px;
}
.footer-middle p,
.footer-right p {
  line-height: 5px;
}
.footer-right h5 {
  font-size: 23px;
  color: #343434;

  margin-bottom: 26px;
}
.footer-right {
  width: 30%;
}
div.footer {
  margin-top: 150px;

  align-self: start;
}
.footer p {
  color: var(--text-light-color);
}
/* about us */
.aboutus {
  background: url("./assets/accountan4-section-bg2.webp");
  background-color: var(--primary-color);
  background-position: 10%;
  height: 600px;
  width: 50%;
  position: relative;
}
.aboutus::after {
  content: "";
  width: 100%;
  background: url("./assets/accountan4-about-bg.webp");
  height: 600px;
  background-position: right;
  position: absolute;
  top: 0;
  left: 100%;
}
.about-flex {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.about-flex p {
  color: white;
  font-size: 24px;
  width: 40%;
}
.about-flex h3 {
  font-size: 40px;
  width: 40%;
  line-height: 55px;
  color: white;
}
.subheader-icon {
  position: absolute;
  bottom: -32px;
  left: 173px;
}
/* about us second section */
.about-second {
  margin: 100px auto;
  display: flex;
  gap: 20px;
}
.about-second-left {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.about-second-left h4 {
  font-size: 26px;
  width: 90%;
  padding-bottom: 31px;
}
div.small-line {
  width: 30%;
  height: 2px;

  background-color: var(--primary-color);
}

.about-second-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.about-second-right p {
  color: var(--text-light-color);
  font-size: 15px;
}
section.our-accountants {
  background-color: rgb(237 242 244);
  padding-bottom: 100px;
}

section.our-accountants {
  padding-top: 100px;
}
div.about-accountants {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 100px;
}
div.about-accountants h2 {
  font-size: 40px;
}
div.about-accountants h2 span {
  color: var(--primary-color);
}
div.about-accountants .image1 {
  height: 600px;
  width: 500px;
}
div.about-accountants .image1 img {
  width: 100%;
  height: 100%;
}
div.image-container1 {
  display: flex;
  gap: 70px;
}
div.image-content {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  height: 550px;
  background-color: white;
  padding-left: 80px;
  border-radius: 10px;
}
div.image-content h3 {
  font-size: 32px;
}
div.image-content p {
  color: var(--text-light-color);
  width: 90%;
}
div.social-media {
  display: flex;
  gap: 20px;
  align-items: center;
}
div.social-media i {
  background-color: rgb(240, 231, 231);
  padding: 20px;
}
div.image-container2 {
  display: flex;
  flex-direction: row-reverse;
  gap: 50px;
}
div.image2 {
  width: 50%;
  height: 600px;
  width: 500px-;
}
div.image2 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* our values */
section.our-values {
  background: url(./assets/accountan4-section-bg2.webp);
  background-color: var(--primary-color);
  background-position: center;
  height: 500px;
  padding-top: 100px;
  background-size: contain;
  background-repeat: no-repeat;
}
div.our-values-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
div.our-values-container h3 {
  color: white;
  font-size: 36px;
}
div.our-values-container ul {
  display: flex;
  gap: 30px;
}
div.our-values-container ul li {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
div.our-values-container ul li img {
  width: 100px;
}
div.our-values-container ul li h5 {
  color: white;
  font-size: 25px;
}
div.our-values-container ul li p {
  color: white;
  font-size: 14px;
}
/* vitae section */
section.vitae {
  height: 650px;

  background: url(./assets/accountan4-about-bg2.webp);
  background-size: cover;
}
div.vitae-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 650px;
  justify-content: center;
}
div.vitae-content h3 {
  color: white;
  font-size: 46px;
  text-align: center;
  width: 60%;
  line-height: 55px;
  margin-bottom: 30px;
}
.vitae-btn {
  background-color: transparent;
  font-size: 16px;
}
/* services */
.aboutus2 {
  background: url("./assets/accountan4-section-bg2.webp");
  background-color: var(--primary-color);
  background-position: 10%;
  height: 600px;
  width: 50%;
  position: relative;
}
.aboutus2::after {
  content: "";
  width: 100%;
  background: url("./assets/accountan4-services-bg1.webp");
  height: 600px;
  background-position: left;
  position: absolute;
  top: 0;
  left: 100%;
}
.about-flex1 {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.about-flex1 p {
  color: white;
  font-size: 24px;
  width: 50%;
}
.about-flex1 h3 {
  font-size: 40px;
  width: 50%;
  line-height: 55px;
  color: white;
}
.subheader-icon {
  position: absolute;
  bottom: -32px;
  left: 173px;
}

/* service second page */
.service-second {
  padding: 125px 0 50px 0;
}
.service-second h3 {
  font-size: 26px;
  width: 75%;
}
.service-second h3 span {
  color: var(--primary-color);
}
ul.service-second-content {
  display: flex;
  width: 100%;
  gap: 90px;
  flex-wrap: wrap;
  margin: 120px 0 100px 40px;
}
ul.service-second-content li {
  width: 45%;
}
ul.service-second-content h4 {
  font-size: 18px;
}
ul.service-second-content p {
  width: 80%;
  font-size: 15px;
  margin-top: 10px;
  color: var(--text-light-color);
}
/* services third */
section.service-third {
  background-color: hsl(197.14deg 24.14% 94.31%);
}
.service-third-content {
  padding: 50px 0 25px 0;
}
.service-third-content h4 {
  font-size: 32px;
  line-height: 40px;
}
.service-third-content h4 span {
  color: var(--primary-color);
  display: block;
}
.service-wrapper1 {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-left: 250px;
  gap: 30px;
  margin-top: 30px;
  border-radius: 10px;
  position: relative;
  width: 80%;
  margin: 50px auto;
}
.service-image {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.service-image h5 {
  font-size: 22px;
}
.service-image img {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 24px;
  right: 50px;
}
div.business p {
  width: 60%;
  font-size: 14px;

  color: var(--text-light-color);
}
div.business p:last-of-type {
  margin-top: 20px;
}
div.founder h6 {
  font-size: 20px;
  line-height: 24px;
}
div.founder p {
  color: var(--text-light-color);
  font-size: 15px;
  padding-bottom: 50px;
}
.service-position {
  height: 250px;
  width: 250px;
  object-fit: cover;
  position: absolute;
  top: 59px;
  left: -100px;
}

.service-wrapper2 {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-left: 250px;
  gap: 30px;
  margin-top: 30px;
  border-radius: 10px;
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
}
/* service fourth */
.services-fourth {
  background: url("./assets/accountan4-services-section-bg.webp");
  height: 700px;
  background-size: cover;
  margin-bottom: 100px;
}
section.experts1 {
  display: flex;
  margin-top: 150px;
  gap: 50px;
  margin-bottom: 130px;
  flex-direction: row-reverse;
}
.experts1 img {
  width: 50%;
}
.expert-descriptions {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.expert-descriptions h4 {
  margin-top: 20px;
  font-size: 28px;
  width: 80%;
}
.expert-descriptions h4 span {
  color: var(--primary-color);
}
.expert-descriptions p {
  line-height: 25px;
  width: 90%;
  color: var(--text-light-color);
}
.expert-descriptions button.read-more {
  width: max-content;
  margin-top: 40px;
  font-size: 15px;
  font-weight: 600;
}
section.cards {
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-bottom: 50px;
}
div.personal {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 40%;
  border-radius: 10px;
}
.personal h4 {
  padding-top: 40px;
  color: white;
  font-size: 23px;
  font-weight: 600;
}
.personal p {
  color: white;
  font-size: 14px;
}
.personal em {
  font-size: 36px;
  font-style: normal;
  color: white;
}
div.business-card {
  background-color: rgb(49 49 51);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 40%;
  border-radius: 10px;
}
.business-card h4 {
  padding-top: 40px;
  color: white;
  font-size: 23px;
  font-weight: 600;
}
.business-card p {
  color: white;
  font-size: 14px;
}
.business-card em {
  font-size: 36px;
  font-style: normal;
  color: white;
}
.option {
  margin-bottom: 40px;
  width: max-content;
  color: white;
  padding: 15px 35px;
  background-color: transparent;
  border: 2px solid white;
}
section.faq {
  background: url(./assets/accountan4-section-bg2.webp);
  background-color: rgb(230 47 67);
  /* background-color: var(--primary-color); */
  background-size: 60%;
  background-repeat: no-repeat;
}
.faq-first {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-size: contain;
  background-position: left;
}
.faq-image1 {
  width: 50%;
  margin-left: auto;
}
.faq-image1 img {
  width: 100%;
}
.faq-first-content {
  display: flex;
  flex-direction: column;
  padding-left: 200px;
  justify-content: center;
  gap: 40px;
  width: 40%;
}
.faq-first-content p {
  color: white;
  font-size: 22px;
  text-align: left;
  font-weight: 700;
}
.faq-first-content h4 {
  color: white;
  font-size: 40px;
  font-weight: 600;

  width: 100%;
}
.faq-first-content span {
  color: black;
}
ul.faq-cards-row {
  display: flex;
  gap: 30px;
  position: relative;
  margin-top: 100px;
}
.down-arrow {
  position: absolute;
  top: -130px;
}
ul.faq-cards-row li {
  display: flex;
  padding-bottom: 50px;
  margin-bottom: 80px;
  border-radius: 10px;
  align-items: center;
  /* justify-content: center; */
  /* gap: 50px; */
  flex-direction: column;
  background-color: rgb(242 55 75);
}
ul.faq-cards-row li img {
  width: 50px;
  height: 50px;
}
ul.faq-cards-row li h4 {
  font-size: 46px;
  color: white;
  margin-top: 30px;
}
ul.faq-cards-row li p {
  color: white;
  text-align: center;
  margin: 70px 0 20px 0;
  width: 65%;
}
.afters {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}
.individual-customer {
  background-color: #eef2f5;
  padding: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}
.individual-customer h1 {
  margin-left: 40px;
  font-size: 30px;
}
.individual-customer h1 span {
  color: var(--primary-color);
  display: block;
}
.faq-image {
  width: 100%;
  margin-left: auto;
}
.faq-image img {
  width: 100%;
}

.faq-question {
  display: flex;
  /* align-items: center; */
  gap: 100px;
  margin-bottom: 50px;
}
.questions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 120px;
  width: 100%;
}
.questions p {
  padding: 70px 0;
  border-top: 1px solid rgb(244, 227, 227);
  border-bottom: 1px solid rgb(244, 227, 227);
  border-left: 3px solid red;
  margin-left: -50px;
  padding-left: 50px;
}
.questions em {
  margin-right: 30px;
  font-style: normal;
}
.question-div {
  display: flex;
  justify-content: space-between;
}
.question-div.q3,
.question-div.q4,
.question-div.q2,
.question-div.q1 {
  border-bottom: 1px solid rgb(244, 227, 227);
  padding: 20px 0;
}
/* contact */
.aboutus3 {
  background: url("./assets/accountan4-section-bg2.webp");
  background-color: var(--primary-color);
  background-position: 10%;
  height: 600px;
  width: 50%;
  position: relative;
}
.aboutus3::after {
  content: "";
  width: 100%;
  background: url("./assets/accountant4-contact-pic1.webp");
  height: 600px;
  background-position: left;
  position: absolute;
  top: 0;
  left: 100%;
}
section.contact-second {
  background: hsl(197.14deg 24.14% 94.31%);
}
div.contact-second-description {
  gap: 30px;
  display: flex;
  padding: 120px 0;
  align-items: center;
  justify-content: space-between;
}
div.contact-second-description img {
  width: 350px;
}
div.csd-left h3 {
  font-size: 32px;
  line-height: 40px;
  width: 80%;
  font-weight: 600;
  margin-bottom: 40px;
}
div.csd-left p {
  font-size: 15px;
  width: 60%;
  color: var(--text-light-color);
}
div.csd-middle,
div.csd-right {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 10px;
}
div.csd-middle h4,
div.csd-right h4 {
  font-size: 20px;
  margin-left: 20px;
}
div.csd-text p {
  color: var(--primary-color);
  margin-left: 20px;
  font-size: 15px;
  margin-bottom: 20px;
}
div.csd-text h5 {
  color: var(--primary-color);
  margin-left: 20px;
  font-size: 20px;
}
div.ct-container {
  display: flex;
  margin: 100px;
  gap: 50px;
}
div.ct-left {
  display: flex;
  gap: 30px;
  width: 50%;
  align-items: center;
  margin-top: 100px;
}
div.ct-left-content h3 {
  font-size: 30px;
  color: var(--primary-color);
  font-weight: 600;
}
div.ct-left-content h4 {
  font-size: 28px;
  font-weight: 600;
  margin: 10px 0 30px 0;
}
div.ct-left-content p {
  color: var(--text-light-color);
  font-weight: 300;
}
div.ct-right {
  display: flex;
  width: 50%;
  flex-direction: column;
}
div.ct-right h6 {
  font-size: 30px;
  font-weight: 600;
  width: 60%;
  line-height: 40px;
  margin-bottom: 30px;
}
div.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
input {
  width: 45%;
  border: none;
  height: 60px;
  background-color: hsl(197.14deg 24.14% 94.31%);
  padding: 10px;
}
input#subject {
  width: 90%;
}
textarea {
  background-color: hsl(197.14deg 24.14% 94.31%);
  border: none;
  height: 240px;
  width: 90%;
  padding: 10px;
}
.btn-msg {
  width: 90%;
}
/* hamburger icon */
.bar1,
.bar2,
.bar3 {
  height: 4px;
  width: 36px;
  background-color: black;
  margin-bottom: 5px;
  border-radius: 10px;
}
.hamburger {
  height: 50px;
  display: none;
}
.animateflipBar1 {
  animation: flipBar1 1s;
  animation-fill-mode: forwards;
}
.animatefadeBar2 {
  animation: fadeBar2 1s;
  animation-fill-mode: forwards;
}
.animateflipBar3 {
  animation: flipBar3 1s;
  animation-fill-mode: forwards;
}
@keyframes fadeBar2 {
  from {
    transform: scaleX(1);
    opacity: 1;
  }
  to {
    transform: scaleX(0);
    opacity: 0;
  }
}
@keyframes flipBar1 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(45deg) translate(4px, 9px);
  }
}
@keyframes flipBar3 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-45deg) translate(4px, -9px);
  }
}
.mobileNav {
  width: 200px;
  display: none;
  flex-direction: column;

  height: 100vh;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 100px;
  right: -160px;
  background-color: white;
  z-index: 40;
  transition: all 1s ease-in-out;
}
.mobileNav a {
  color: black;
}
.mobileNav li {
  margin-top: 40px;
}
.mobileNav a:hover {
  text-decoration: underline;
}
.openMobileNav {
  transform: translateX(-160px);
  display: flex;
}
