@import url("base.css");

* {
  margin: 0;
  padding: 0;

  color: #343434;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px 20px 0px;
}
div.logo img {
  width: 120px;
  height: 60px;
}
div.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
div.logo p {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  margin-left: -20px;
}
div.logo span {
  color: var(--primary-color);
}
div.logo span {
  display: block;
}
nav.navbar ul a {
  color: var(--text-moderate-color);
  font-size: 18px;
  font-weight: 300;
}
.navbar a.active {
  color: var(--primary-color);
}
main {
  height: 1000px;
  position: relative;
  background: url("/assets/accountant4-slider-pic3.webp"),
    url("/assets/accountan4-section-bg1.png");
  background-size: contain, contain;
  background-position: 100% 99px;
  background-repeat: no-repeat;
  background-color: var(--primary-color);
  position: relative;
  z-index: 5;
}
.two-customers img {
  width: 200px;
}
div.hero {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: 40px;
  padding: 100px 0 20px 0;
}
div.hero h4 {
  color: white;
  font-size: -17px;
}
div.hero h2 {
  font-size: 59px;
  width: 62%;
  color: white;
}
div.hero h2 span {
  color: black;
}
div.border {
  border-top: 0.5px solid rgb(212, 209, 209);
}
div.right-arrow {
  background-color: black;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.two-customers {
  gap: 30px;
  display: flex;
  padding-top: 180px;
  margin-left: 78px;
}
div.first-customer,
div.second-customer {
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  font-weight: 500;
  font-size: 18px;
  border-radius: 10px;
  /* padding-right: 40px; */
}

div.two-customers p {
  width: 40%;
}
div.second-customer {
  position: relative;
  z-index: 1;
}
.experience {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.experience-icon {
  width: 70px;
  height: 70px;
}
.experience-description {
  display: flex;
  justify-content: space-between;
}
.experienceUl {
  display: flex;
  margin-top: 100px;
  margin-left: 60px;
}
.experiencUl li {
  display: flex;
  flex-direction: column;
}
.experienceUl li img {
  width: 50px;
}
.experience li span {
  display: block;
  font-size: 23px;
  font-weight: 700;
}
.experience li p {
  width: 70%;
  color: var(--text-light-color);
  margin-top: 20px;
}
.experience-description h3 {
  font-size: 45px;
  font-weight: 600;
}
.experience-description em {
  display: block;
  margin-top: -15px;
  font-style: normal;

  color: var(--primary-color);
}
section.experts {
  display: flex;
  margin-top: 150px;
  gap: 50px;
  margin-bottom: 130px;
}
.experts img {
  width: 50%;
}
.expert-description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.expert-description h4 {
  margin-top: 20px;
  font-size: 28px;
}
.expert-description h4 span {
  color: var(--primary-color);
}
.expert-description p {
  line-height: 25px;
  width: 90%;
  color: var(--text-light-color);
}
.expert-description button.read-more {
  width: max-content;
  margin-top: 40px;
  font-size: 15px;
  font-weight: 600;
}
section.ullamcorper {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/accountan4-about-bg.webp");
  width: 100%;
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 80px;
}

.flex-four ul {
  display: flex;

  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
  padding-top: 100px;
  align-content: flex-start;
  flex-wrap: wrap;
}
.flex-four li {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 260px;
  align-items: center;
  border: 1px solid white;
  border-radius: 0 10px 10px 10px;
  justify-content: center;
}
.flex-four h3 {
  font-size: 40px;
}
.flex-four span {
  color: var(--primary-color);
  font-size: 40px;
  font-weight: bold;
}
.flex-four h4 {
  font-size: 40px;
  color: white;
  font-weight: 700;
}
.flex-four li p {
  font-size: 26px;
  color: white;
}
.flex-four li:first-child {
  background-color: white;
}
/* proin section */
.proin {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 100px;
}
.proin h3 {
  font-size: 50px;
  width: 45%;
  line-height: 60px;
  font-weight: 500;
}
.proin h3 span {
  color: var(--primary-color);
}
ul.three-flex {
  display: flex;
  gap: 50px;
}
ul.three-flex li {
  width: 33%;
}
ul.three-flex img {
  width: 100%;
}
div.proin-top {
  display: flex;
  justify-content: space-between;
}
ul.three-flex p:first-of-type {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}
ul.three-flex p:last-of-type {
  color: var(--text-light-color);
  font-size: 15px;
}
section.accountants {
  height: 700px;
  background: url("/assets/accountan4-section-bg2.webp");
  background-color: var(--primary-color);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0%;
}
div.account-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}
div.accountant-description {
  width: 45%;
}
div.accountant-pic {
  display: flex;
  width: 65%;
  flex-direction: row-reverse;
  gap: 50px;
}
div.accountant-pic img {
  width: 50%;
}
.accountant-description {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.accountant-description h3 {
  color: white;
  font-size: 45px;
  font-weight: 600;
  line-height: 50px;
}
.accountant-description p {
  width: 80%;
  color: white;
}
button.about-us {
  width: max-content;
  color: white;
  background-color: transparent;
  border: 2px solid white;
}
footer {
  background-color: rgb(237 242 244);
  height: 900px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-left img {
  width: 100px;
}
.footer-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.footer-content h3 {
  font-size: 36px;
  font-weight: 600;
}
.footer-content h4 {
  font-size: 22px;
  text-align: center;
}
.footer-content h4 span {
  color: var(--primary-color);
}
button.consultation {
  width: max-content;
  background-color: transparent;
  font-size: 16px;
}
.footer-content p {
  color: var(--text-light-color);
  margin-top: -10px;
}
.footer-flex {
  display: flex;
  margin-top: 180px;
  gap: 40px;
}
.footer-left {
  width: 50%;
}
.footer-left-content {
  display: flex;
}
.footer-left-content h3 {
  text-transform: uppercase;
  line-height: 25px;
  margin-left: -15px;
}
.footer-left-content span {
  color: var(--primary-color);
  display: block;
}
.footer-left-content img {
  margin-left: -20px;
}
.footer-flex p {
  font-size: 15px;
  color: var(--text-light-color);
  margin-top: 20px;
  font-weight: 500;
}
.footer-middle {
  flex-direction: column;
  width: 20%;
  display: flex;
}
.footer-middle h5 {
  font-size: 23px;
  margin-bottom: 16px;
}
.footer-middle p,
.footer-right p {
  line-height: 5px;
}
.footer-right h5 {
  font-size: 23px;
  color: #343434;

  margin-bottom: 26px;
}
.footer-right {
  width: 30%;
}
div.footer {
  margin-top: 150px;

  align-self: start;
}
.footer p {
  color: var(--text-light-color);
}
